$color_body:#6b717f;
$colorBg_body:#fff;
$colorBg_article_code:#000;
$colorBorder_article_code:#6b717f;
$colorBoxShadow:#6b717f;
$color_article_code:#8C8C8C;
$color_section_border:#8C8C8C;
$color_h:#BF4080;
$color_message:#fff;
$colorBg_success:green;
$colorBg_error:red;
$colorBg_warnig:orange;
$generic_padding:32px;
$base-color:#44FFFF;